
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .text {
        color: white;
        position: absolute;
        top: 30px;
        margin-left: 280px;
        font-size: 24px ;
        width: 700px;
        height: 50px;
        border-radius: 20px;
        background: #3e413e ;
        padding-top:20px;
    }
  
</style> 
    
<img src="~/img/pexels-ray-piedra-1456733.jpg" style="height:810px;" /> 
<h1 class="text" align="center">CHÀO MỪNG BẠN ĐÃ ĐẾN VỚI TRANG QUẢN TRỊ VIÊN</h1>





