
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="margin-left:670px;font-size:60px;color:red;">About</h1>
<div class="bl-bg">
    <p class="aboutDesc" style="margin-left:20px;">
        Hành trang khi ra đường của bạn là gì? Một chiếc áo đẹp? một chiếc quần kiểu cách hay
        mốt chiếc kính thời trang? Với CTD Shop bước ra đường ngoài những thứ kể trên thì không
        thể thiếu cho mình một đôi Snaker đẹp và xịn. Nếu bạn chưa biết phải mua một đôi giày đẹp
        thời thượng ở đâu thì bạn có thể liên hệ ngay SnakerShop để tậu ngay cho mình một đôi giày cực đẹp với giá phải chăn.
    </p>
    <div class="aboutImg">
        <img src="https://images.pexels.com/photos/2759779/pexels-photo-2759779.jpeg?auto=compress&cs=tinysrgb&w=600" />
    </div>
</div>

<div class="next-about">
    <div class="aboutImg">
        <img src="https://images.pexels.com/photos/1456706/pexels-photo-1456706.jpeg?auto=compress&cs=tinysrgb&w=600" class="aboutImg" />
    </div>
    <p class="aboutDesc">
        Snaker không chỉ là một đôi giày, ngày nay nó đã và đang phát triển thành một thú
        chơi của giới trẻ hiện nay. Không khó để bắt gặp một đôi Jordan 1 hay một đôi Air Force
        1 khi ra đường nó dần trở thành văn hóa thời trang năng động của giới trẻ
    </p>
</div>

@* Gallery *@
<span class="span-about">Tới với CTD Shop bạn sẽ được hưởng những gì từ shop?</span>
<div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Giá cả phải chăng</h1>
        <img src="https://images.pexels.com/photos/1476209/pexels-photo-1476209.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="galleryImg" />
    </div>
    <div class="galleryItem">        
        <img src="https://images.pexels.com/photos/1102777/pexels-photo-1102777.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="galleryImg" />
        <h1 class="galleryTitle">Đảm bảo là hàng auth 100%</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">1 đổi 1 trong 3 ngày nếu lỗi từ nhà sản xuất.</h1>
        <img src="https://images.pexels.com/photos/4061662/pexels-photo-4061662.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="galleryImg" />
    </div>
    <div class="galleryItem">
        <img src="https://images.pexels.com/photos/1027160/pexels-photo-1027160.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="galleryImg" />
        <h1 class="galleryTitle">Nhân viên thân thiện, thiện chí.</h1>
    </div>
</div>
<p style="margin: 20px;border-radius:30px; background: #3e413e; color:white; padding:30px; font-size:24px;">
    Phương châm của shop là mang lại cho “anh em” những chiếc giày đẹp và chất lượng. Bán vì đam mê là chính còn tiền là mười. Nếu anh em có thắc mắc gì về SnakerShop hoặc các sản phẩm thì đừng ngần ngại gọi ngay số hotline ngay dưới hoặc gửi tin nhắn cho shop ở FB và mail nhé
</p>