
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="margin-left:650px;font-size:54px;color:red;">Contact</h2>
<div style="display:flex;margin:0 150px;">
    <div style="margin-left: 20px; height: 250px; background: #3e413e; color: white; width: 700px; line-height: 2; margin-top: 20px; padding: 30px; box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75); -webkit-box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75); -moz-box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75); ">
        <h1 style="">Mọi thắc mắc xin hãy liên hệ thông qua:</h1>
        <div class="contactDesc"><i class="fa-sharp fa-solid fa-phone"></i> SĐT: 079498765</div>
        <div class="contactDesc"><i class="fa-sharp fa-solid fa-envelope"></i> Email: CTDShop@gmail.com</div>
        <div class="contactDesc"><i class="fa-brands fa-facebook"></i> FB: Facebook.com/CTD_Shop</div>
    </div>
    <div>
        <img src="https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&w=600" style="
    margin:20px 50px; width:400px; height:250px;
    ;box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75); -webkit-box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75); -moz-box-shadow: 25px 22px 20px 0px rgba(68,62,57,0.75);" />
    </div>
</div>

<p style="margin: 50px 20px; border-radius: 40px; background: #3e413e; color: white; padding: 30px; 
font-size: 24px;">Nhóm của chúng tôi gồm ba thành viên:<span style="color:red">Nguyễn Việt Trung</span>
    ,<span style="color:red">Hà Nguyên Đức</span>  và <span style="color:red">Nguyễn Mạnh Cường</span> . 
    Chúng tôi đang thực hiện <span style="color:red">đồ án lập trình web bán giày</span>. Với niềm đam mê với giày của chúng tôi,
    nên chúng tôi đã xây dựng trang web này trước là để thực nghiệm những gì đã học,
    sau là để đánh giá thực lực của bản thân mỗi người. 
    Cùng với đó là có được 1 hành trang để mang theo sau khi tốt nghiệp.
    </p>


