
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="banner" style="height:370px;">
    <div class="box-left">
        <h3>
            <span>"Người bạn đồng hành hoàn hảo"</span>
        </h3>
        <br>
        <h2>
            <span>BƯỚC VÀ TỎA SÁNG</span>
        </h2>
        <p>
            Chuyên cung cấp những đôi giày đảm bảo chất lượng tuyệt vời
            đến người dùng,phục vụ người dùng 1 cách hoàn hảo nhất
        </p>
        <button>Mua ngay</button>
    </div>
    <div class="to-bottom">
        <a href="">
            <img src="~/assets/to_bottom.png" alt="">
        </a>
    </div>
</div>
<div class="post-item">
    <h4 class="heading">Thương hiệu</h4>
    <div class="menu">
        <div class="item">
            <a class="item-actionlink" href="#proAdidas">Adidas</a>
        </div>
        <div class="item">
            <a class="item-actionlink" href="#proNike">Nike</a>
        </div>
        <div class="item">
            <a class="item-actionlink" href="#proPuma">Puma</a>
        </div>
        <div class="item">
            <a class="item-actionlink" href="#proJordan">Jordan</a>
        </div>
        <div class="item">
            <a class="item-actionlink" href="#proYeezy">Yezzy</a>
        </div>
    </div>
</div>

@* Wp-Products *@
<div id="wp-products">

    @* Adidas *@
    <div class="block-products" id="proAdidas">
        <img src="~/img/adidas-logo.png" alt="" class="logoImg" />
        <h2>ADIDAS</h2>
        <div id="list-products">
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Adidas-Super-Star.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>
                <div class="name">Adidas Super Star</div>
                <div class="desc">Sang trọng và lịch lãm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Adidas-hong.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Adidas hồng</div>
                <div class="desc">Thể hiện cá tính, đậm chất riêng</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Adidas-TheThao.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Adidas thể thao</div>
                <div class="desc">Đôi giày phố biến với mọi nhà</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Adidas-Alphabounce-Beyond.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Adidas Alphabounce Beyond</div>
                <div class="desc">New Season</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
        </div>
        <div class="list-page">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>

    @* Nike *@
    <div class="block-products" id="proNike">
        <img src="~/img/Nike_logo.png" alt="" class="logoImg" />
        <h2>NIKE</h2>
        <div id="list-products">
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Nike-air-max-Zero-SF.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>
                <div class="name">Nike air max Zero SF</div>
                <div class="desc">Giày dành cho cả nam và nữ</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Nike-ari-force-one.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Nike ari force 1</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Nike-Room-Nu-F60.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Nike Room Nữ F60</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Nike-pink.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Nike hồng</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
        </div>
        <div class="list-page">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>

    @* Puma *@
    <div class="block-products" id="proPuma">
        <img src="~/img/puma-logo.png" alt="" class="logoImg" />
        <h2>PUMA</h2>
        <div id="list-products">
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Puma-white-black.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Puma trắng sọc đen</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Puma-Cali-White.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Puma Cali White</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Puma-White-Blue.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">New Puma trắng xanh</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Puma-White-Pink.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">New Puma White-Pink</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
        </div>
        <div class="list-page">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>

    @* Jordan *@
    <div class="block-products" id="proJordan">
        <img src="~/img/Jordan-logo.png" alt="" class="logoImg" />
        <h2>JORDAN</h2>
        <div id="list-products">
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Jordan-White-red.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>
                <div class="name">Jordan Trắng sọc đỏ</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Jordan-Blue.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Jordan Blue</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Jordan-Cam.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">New Jordan Cam</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/Jordan-co-thap.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">New Jordan cổ thấp</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
        </div>
        <div class="list-page">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>

    @* Yezzy *@
    <div class="block-products" id="proYeezy">
        <img src="~/img/yezzy-Logo.png" alt="" class="logoImg" />
        <h2>YEZZY</h2>
        <div id="list-products">
            <div class="item">               
                    <img style="width: 256px; height: 174px;" src="~/img/yezzyWhite.png" alt="">                            
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>
                <div class="name">Yeezy white</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/yezzy350.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Yezzy 350</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/yezzy350-white.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Yezzy 350 white</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
            <div class="item">
                <img style="width: 256px; height: 174px;" src="~/img/yezzy-700.png" alt="">
                <div class="stars">
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                    <span>
                        <img src="~/assets/star.png" alt="">
                    </span>
                </div>

                <div class="name">Yeezy 700</div>
                <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                <div class="price">500.000 VNĐ</div>
                <div class="sizes">
                    <div class="size">39</div>
                    <div class="size">40</div>
                    <div class="size">41</div>
                    <div class="size">42</div>
                    <div class="size">43</div>
                </div>
                <div>
                    <button class="btn-addCart">Add cart</button>
                </div>
            </div>
        </div>
        <div class="list-page">
            <div class="item">
                <a href="">1</a>
            </div>
            <div class="item">
                <a href="">2</a>
            </div>
            <div class="item">
                <a href="">3</a>
            </div>
            <div class="item">
                <a href="">4</a>
            </div>
        </div>
    </div>
</div>

@* Gallery *@
<div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Be Yourself!</h1>
        <img src="https://images.pexels.com/photos/1102776/pexels-photo-1102776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="galleryImg" />
    </div>
    <div class="galleryItem">
        <img src="https://images.pexels.com/photos/7228053/pexels-photo-7228053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="galleryImg" />
        <h1 class="galleryTitle">This is the first day of Your New Life!</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">Just Do it!</h1>
        <img src="https://images.pexels.com/photos/14730229/pexels-photo-14730229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="galleryImg" />
    </div>
</div>


@*Features*@
<div class="features">
    <div class="fea1">
        <img class="fea-img" src="~/img/shipping.png" alt="" width="50px">
        <h4 class="fea-head">FREE SHIPPING</h4>
        <p class="fea-text">Free worldwide shipping on all orders</p>
    </div>

    <div class="fea1">
        <img class="fea-img" src="~/img/return.png " alt="" width="50px">
        <h4 class="fea-head">30 DAYS RETURN</h4>
        <p class="fea-text">Free worldwide shipping on all orders</p>
    </div>

    <div class="fea1">
        <img class="fea-img" src="~/img/gift.png" alt="" width="50px">
        <h4 class="fea-head">GIFT CARDS</h4>
        <p class="fea-text">Free worldwide shipping on all orders</p>
    </div>

    <div class="fea1">
        <img class="fea-img" src="~/img/contact.png" alt="" width="50px">
        <h4 class="fea-head">CONTACT US</h4>
        <p class="fea-text">Free worldwide shipping on all orders</p>
    </div>
</div>


@*New Season*@
<div class="newSeason">
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/5384049/pexels-photo-5384049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="snImg" />
    </div>
    <div class="nsItem">
        <h3 class="nsItemSm">WINTER NEW ARRIVALS</h3>
        <h1 class="nsTitle">New Season <br>New Collection </h1>
        <a href="#navbar">
            <button class="nsButton">
                CHOOSE YOUR STYLE!
            </button>
        </a>
    </div>
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/13038669/pexels-photo-13038669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="snImg" />
    </div>
</div>

